################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.obsidian
*.json
/.obsidian
.obsidian/plugins/obsidian-git/data.json
